{% extends "base.html" %}
{% block content %}
    <h1 style="padding-top: 15px; padding-bottom: 20px">TAGS LIST</h1>
    <button style="position: absolute; right: 100px" >
        <a  href={% url "add-tag" %}>Add tag</a>
    </button>
    <br>
    <br>
    {% if tags_list %}
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for tag in tags_list %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.name }}</td>
                    <td>
                        <form method="post" action="{% url "update-tag" pk=tag.id %}">
                            {% csrf_token %}
                            <button type="submit" style="background-color: #5897fb; color: white;">Update</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url "delete-tag" pk=tag.id %}">
                            {% csrf_token %}
                            <button type="submit" style="background-color: red; color: white;">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
